
/* carrusel */
.carrusel{
    margin: 0 auto;
    background: var(--bg_carrusel);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--color_texto);
    position: relative;
    text-align: center;
    
}
.carrusel_slicer{
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;

    top: 0;
    left: 0;

}
.carrusel_flecha_derecha,
.carrusel_flecha_izquierda{
    width: 20%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;

}
.carrusel_flecha_derecha{
    top:0;
    right: 0;
    justify-content: flex-end;
    

}
.contenedor_puntos_slicer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.punto_slicer{
    background-color: rgba(0, 122, 79, 0.5);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.punto_slicer--activo{
    background-color: rgb(0, 122, 79);
}

@media(max-width:768px){
    .carrusel_slicer{
        --p_max_width:80%;
        --h_max_width:80%; 
    }

}
@media(max-width:510px) {
    .carrusel_slicer{
        --p_max_width:70%;
        --tamano_fuente_titulos:3rem;    
    }

    
}